

# -------------------------------------- #
#   	unity .gitignore template   	 #
# -------------------------------------- #


# -------------------------------------- #
#   	       unity defaults            #
# -------------------------------------- #
[Bb]uild/
[Ll]ibrary/
[Oo]bj/
[Tt]emp/



# -------------------------------------- #
#          visual studio files           #
# -------------------------------------- #
ExportedObj/
*.csproj
*.rsp
*.sln
*.suo
*.svd
*.user


# -------------------------------------- #
#               mono files               #
# -------------------------------------- #
*.booproj
*.pidb
*.unityproj
*.userprefs


# -------------------------------------- #
#                os files                #
# -------------------------------------- #
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Icon?
Thumbs.db



!*.dll
